@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --call-100:rgb(231, 129, 107);
  --call-200:rgb(255, 173, 155);
  --dark-100:rgb(29, 28, 30);
  --dark-200:rgb(51, 49, 54);
  --light-100:rgb(255, 255, 255);
  --light-200:rgb(241, 243, 245);
}

html, body {
  font-family: "Jost";
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

ul[class] {
  list-style: none;
  padding: 0;
}

.heading__lg {
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
}

.heading__md {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 2px;
}

.heading__sm {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 5px;
}

.text__body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.uppercase {
  text-transform: uppercase;
}

.rounded {
  border-radius: 0.5rem;
}

.padding {
  padding: 1rem;
}
.padding.-block {
  padding-block: 1rem;
}
.padding.-inline {
  padding-inline: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex.-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex.-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex.-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: var(--dark-100);
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  border: none;
  background: transparent;
}
.btn.-inline {
  color: var(--light-100);
}
.btn.-inline-dark {
  color: var(--dark-100);
}
.btn.-full {
  background: var(--light-100);
  color: var(--dark-100);
}
.btn.-call {
  background: var(--call-100);
  color: var(--light-100);
}
.btn:hover:not(.main-header a) {
  background: var(--call-200);
}

label {
  position: relative;
  width: 100%;
  display: block;
}
label::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  inset-inline: 0;
  background-color: var(--light-100);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
label:has(input:focus)::after {
  height: 3px;
}

input, textarea {
  border: none;
  background: transparent;
  outline: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  color: var(--light-100);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1px;
  margin-block: 1rem;
  width: 100%;
}
input:empty + .input__info, textarea:empty + .input__info {
  position: absolute;
  right: 0;
  top: 50%;
  color: currentColor;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: smaller;
  color: var(--light-100);
  font-style: italic;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: var(--light-100);
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: var(--light-100);
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: var(--light-100);
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: var(--light-100);
}
input::placeholder, textarea::placeholder {
  color: var(--light-100);
}

textarea {
  width: 100%;
  max-height: 500px;
  resize: vertical;
  font-family: "Jost";
}

header.main-header {
  z-index: 1000;
  background-color: var(--light-100);
  position: relative;
  padding-block: 2rem;
}
header .main-header__nav {
  background-color: var(--dark-100);
  position: absolute;
  z-index: 200;
  width: 100%;
  left: 0;
  top: 150%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header .main-header__nav ul {
  list-style: none;
  padding-block: 1rem;
}
header .main-header__nav ul a {
  color: var(--light-100);
  padding: 1rem 0;
  display: block;
}
@media screen and (min-width: 768px) {
  header .main-header__nav {
    position: relative;
    opacity: 1;
    background: transparent;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header .main-header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  header .main-header__nav ul a {
    color: var(--dark-100);
  }
}
@media screen and (min-width: 768px) {
  header .main-header__burger {
    display: none;
  }
}

body::after {
  content: "";
  background: #000;
  position: absolute;
  inset: 0;
  z-index: 100;
  opacity: 0;
  -webkit-transition: all 0.2;
  transition: all 0.2;
  pointer-events: none;
}
body[data-menu=open]::after {
  opacity: 0.5;
  pointer-events: all;
}
@media screen and (min-width: 768px) {
  body[data-menu=open]::after {
    display: none;
  }
}
body[data-menu=open] .main-header .main-header__nav {
  opacity: 1;
  top: 100%;
  pointer-events: auto;
}

.hero {
  background-color: var(--call-100);
  color: var(--light-100);
  overflow: hidden;
  text-align: center;
}
.hero .container {
  -webkit-padding-before: 50px;
          padding-block-start: 50px;
  background: url("./shared/tablet/bg-pattern-design-pages-intro-tablet.svg");
  background-position: 0% -17%;
  background-size: 600%;
  background-repeat: no-repeat;
}
.hero.subpage {
  -webkit-padding-after: 50px;
          padding-block-end: 50px;
}
.hero.subpage .container {
  background-position: 100%;
  background-size: 300%;
}
.hero.start {
  height: 90svh;
}
.hero.nopaddingtop {
  -webkit-padding-before: 0;
          padding-block-start: 0;
}
.hero h2 {
  font-size: 30px;
}

.container {
  padding-inline: 1rem;
  max-width: 1235px;
}

.main-footer {
  background: var(--dark-100);
  color: var(--light-100);
  text-align: center;
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem;
}
.main-footer .logo {
  padding-block: 1rem 2rem;
  display: block;
  margin-inline: auto;
  width: 100% !important;
  max-width: 100% !important;
  position: relative;
}
.main-footer .logo::after {
  content: "";
  position: absolute;
  bottom: 0;
  inset-inline: 0;
  height: 1px;
  background: var(--light-200);
  opacity: 0.5;
}
.main-footer .logo img {
  max-width: 60%;
  margin-inline: auto;
}
.main-footer nav {
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
}
.main-footer nav ul {
  list-style: none;
  padding: 0;
}
.main-footer nav ul a {
  color: var(--light-100);
  margin-block: 0.5rem;
  font-weight: 300;
}
.main-footer address, .main-footer .contact {
  color: var(--light-200);
  opacity: 0.5;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
  font-style: normal;
}
.main-footer .social {
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  gap: 1rem;
  -webkit-padding-after: 2rem;
          padding-block-end: 2rem;
}/*# sourceMappingURL=index.css.map */