@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --call-100:rgb(231, 129, 107);
  --call-200:rgb(255, 173, 155);
  --dark-100:rgb(29, 28, 30);
  --dark-200:rgb(51, 49, 54);
  --light-100:rgb(255, 255, 255);
  --light-200:rgb(241, 243, 245);
}

html, body {
  font-family: "Jost";
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

img {
  width: 100%;
  display: block;
}

.heading__lg {
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
}

.heading__md {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 2px;
}

.heading__sm {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 5px;
}

.text__body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.uppercase {
  text-transform: uppercase;
}

.rounded {
  border-radius: 0.5rem;
}

.padding {
  padding: 1rem;
}
.padding.-block {
  padding-block: 1rem;
}
.padding.-inline {
  padding-inline: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex.-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex.-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex.-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: var(--dark-100);
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
a.-inline {
  color: var(--light-100);
}
a.-inline-dark {
  color: var(--dark-100);
}
a.-full {
  background: var(--light-100);
  color: var(--dark-100);
}
a.-call {
  background: var(--call-100);
  color: var(--light-100);
}
a:hover:not(.main-header a) {
  background: var(--call-200);
}

label {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
}

input {
  border: none;
  -webkit-border-after: 1px solid var(--light-100);
          border-block-end: 1px solid var(--light-100);
  background: transparent;
  outline: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  color: var(--light-100);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1px;
}
input:focus {
  border-width: 3px;
}
input:empty + .input__info {
  position: absolute;
  right: 0;
  top: 50%;
  color: currentColor;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: smaller;
  color: var(--light-100);
  font-style: italic;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
input::-webkit-input-placeholder {
  color: var(--light-100);
}
input::-moz-placeholder {
  color: var(--light-100);
}
input:-ms-input-placeholder {
  color: var(--light-100);
}
input::-ms-input-placeholder {
  color: var(--light-100);
}
input::placeholder {
  color: var(--light-100);
}

header.main-header {
  z-index: 1000;
  background-color: var(--light-100);
  position: relative;
  padding-block: 2rem;
}
header .main-header__nav {
  background-color: var(--dark-100);
  position: absolute;
  z-index: 200;
  width: 100%;
  left: 0;
  top: 150%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header .main-header__nav ul {
  list-style: none;
  padding-block: 1rem;
}
header .main-header__nav ul a {
  color: var(--light-100);
  padding: 1rem 0;
  display: block;
}
@media screen and (min-width: 768px) {
  header .main-header__nav {
    position: relative;
    opacity: 1;
    background: transparent;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header .main-header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  header .main-header__nav ul a {
    color: var(--dark-100);
  }
}
@media screen and (min-width: 768px) {
  header .main-header__burger {
    display: none;
  }
}

body::after {
  content: "";
  background: #000;
  position: absolute;
  inset: 0;
  z-index: 100;
  opacity: 0;
  -webkit-transition: all 0.2;
  transition: all 0.2;
  pointer-events: none;
}
body[data-menu=open]::after {
  opacity: 0.5;
  pointer-events: all;
}
@media screen and (min-width: 768px) {
  body[data-menu=open]::after {
    display: none;
  }
}
body[data-menu=open] .main-header .main-header__nav {
  opacity: 1;
  top: 100%;
  pointer-events: auto;
}

#hero {
  background-color: var(--call-100);
  color: var(--light-100);
  height: 90svh;
  overflow: hidden;
  text-align: center;
  -webkit-padding-before: 50px;
          padding-block-start: 50px;
}
#hero h2 {
  font-size: 30px;
}

.container {
  padding-inline: 1rem;
  max-width: 1235px;
}/*# sourceMappingURL=index.css.map */